<p class="text-right mb-2 mb-md-0">
    <button type="button" class="btn btn-danger mt-4" data-toggle="modal" data-target="#confirmDeleteModal">
      Delete
    </button>
</p>
<h1 class="text-center mb-2 mb-md-4">Edit Reservation</h1>
<div class="mx-auto" style="max-width: fit-content;">

    <div class="text-danger">
      <% prevError = "" %>
      <% @reso.errors.messages.each do |attribute, errors| %>
        <% if prevError != errors[0] %>
          <p>* <%= errors[0].capitalize %></p>
        <% end %>
        <% prevError = errors[0] %>
      <% end %>
    </div>

  <%= render "reservation_form", reservation: @reso %>

</div>


<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cancel Reservation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <%= link_to reservation_url(@reso), method: :delete do %>
          <button type="button" class="btn btn-danger">Cancel Reservation</button>
        <% end %>
        <button type="button" class="btn btn-light border-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
