<h1 class="text-center my-3 my-md-4">Make A Reservation</h1>
<div class="mx-auto" style="max-width: fit-content;">
    <div class="text-danger">
      <% prevError = "" %>
      <% @reso.errors.messages.each do |attribute, errors| %>
        <% if prevError != errors[0] %>
          <p>* <%= errors[0].capitalize %></p>
        <% end %>
        <% prevError = errors[0] %>
      <% end %>
    </div>

  <%= render "reservation_form", reservation: @reso %>
  
</div>
